<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teacher login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- MDBootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css" rel="stylesheet">
  
</head>
<body style="padding: 10rem;">
    <form  action="/techer/dashboard"   method="post">

      <!--eamil-->
      <div class="text-center">
        Email : <input name="email" type="email" placeholder=" Enter your name here">
      </div><br>
      <!--subject_id-->
      <div class="text-center">
      Subject_id : <input name="subject+_id" type="text" placeholder=" Enter your Subject_id here">
 


      </div>
      <br>
      <!--password-->
      <div class="text-center">
      Password : <input name="password" type="password" placeholder=" Enter your password here">
      </div >
      <br>
      <div class="text-center">
      <button type="submit">Submit</button>
    </div>
    <br>
        <!-- Register buttons -->
        <div class="text-center">
          <p>Not a member? <a href="/teachersignup">Register</a></p>
        </div>
      </form>
</body>
</html>