<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- MDBootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css" rel="stylesheet">
     
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f8f9fa;
        }
        .form-container {
            background: #fff;
            padding: 30px;
            border:1px solid black;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .form-outline {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <form action="/teacherlogin"  method="post" >
        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input name="name" type="txt" id="form2Example1" class="form-control" />
          <label class="form-label" for="form2Example1">Names</label>
        </div>
                <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input name="email" type="email" id="form2Example1" class="form-control" />
          <label class="form-label" for="form2Example1">Email address</label>
        </div></label>
        </div>
              <!-- subject_id input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <input name="sub_id" type="txt" id="form2Example1" class="form-control" />
                <label class="form-label" for="form2Example1">subject_id</label>
              </div>
        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input name="password" type="password" id="form2Example2" class="form-control" />
          <label class="form-label" for="form2Example2">Password</label>
        </div>
      
        <!-- Submit button -->
        <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign up</button>
      </form>
     <!-- Register buttons -->
     <div class="text-center">
      <p>already a member? <a href="/teacherlogin">login</a></p>
     
    </div>
    
    </body>
</html>